{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <nav>
        <ul>
<!--            <li><a href="{% url 'home' %}">Home</a></li>-->
            {% if not request.user.is_authenticated %}
                <li><a href="{% url 'signup' %}">Signup</a></li>
                <li><a href="{% url 'signin' %}">Signin</a></li>
            {% else %}
                <li class="right_float_links"><a href="{% url 'signout' %}">Signout</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block body %}
    {% endblock %}

</body>
</html>