{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}


{% block body %}
    <div class="main-content">
        <form action="{% url 'files' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="file_name" id="file_select" class="file_select">
            <input type="submit" value="Upload" class="btn">
        </form>
    </div>

    <div class="files-container">
        {% for file in files %}
            <div class="file">
                {{file.file}}
            </div>
        {% endfor %}
    </div>
{% endblock %}